{% extends "auctions/layout.html" %}

{% block title %}Active Listing{% endblock %}

{% block body %}

<div class="container">
    {% for listing in listings %}
    <div class="card">
        <h5 class="card-header">{{ listing.title }}</h5>
        {% if listing.url %}
        <img src="{{ listing.url }}" alt="listed picture" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h6 class="card-title">by {{ listing.user.username }}</h6>
            <p class="card-subtitle"><b>Start price: </b>{{ listing.start_bid }}</p>
            <p class="card-text"><b>Description: </b>{{ listing.description }}</p>
        </div>
    </div>
    {% empty %}
    <div>there is no current listings</div>
    {% endfor %}
</div>
{% endblock %}