{% extends "auctions/layout.html" %}

{% block title %}Active Listing{% endblock %}

{% block body %}

{% for listing in listings %}
<div class="container">
    <div class="image"></div>
    <div class="information">
        <ul>
            <li>{{ listing.user.username }}</li>
            <li>{{ listing.title }}</li>
            <li>{{ listing.description }}</li>
            <li>{{ listing.start_bid }}</li>
        </ul>
    </div>
</div>
{% empty %}
<div>there is no current listings</div>
{% endfor %}

{% endblock %}