{% extends "auctions/layout.html" %}
{% load filters %}
{% block body %}
<div class="d-flex flex-wrap justify-content-center">
    {% for listing in listings %}
    <div class="card">
        <a href="{% url 'listing' listing.id %}">
            <img src="{{ listing.url }}" alt="listed picture" class="card-img-top">
        </a>
        <div class="card-body">
            <div>
                <i class="far fa-heart fa-sm"></i>
                <i class="far fa-bookmark fa-sm"></i>
                {% if listing|current_price %}
                <span class="float-right">$ {{ listing|current_price }}</span>
                {% else %}
                <span class="float-right">$ {{ listing|current_price }}</span>
                {% endif %}
            </div>
            <p class="card-text text-truncate">by {{ listing.user.username }}</p>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}