<!-- use carousel in bootstrap -->

{% extends "auctions/layout.html" %}
{% load filters %}

{% block title %}{{listing.title}}{% endblock %}

{% block body %}
<div class="card">
    <h5 class="card-header">{{ listing.title }}</h5>
    {% if listing.url %}
    <img src="{{ listing.url }}" alt="listed picture" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h6 class="card-title">by {{ listing.user.username }}</h6>
        <p class="card-subtitle"><b>Current price: </b>{{ listing|current_price }}</p>
        <p class="card-text"><b>Description: </b>{{ listing.description }}</p>

        {% if listing.closed %}
        <div>This listing is closed</div>
        {% if listing.closed.bid and request.user == listing.closed.bid.user %}
        <div>Congratulation {{ listing.closed.bid.user }} on winning the bid</div>
        {% endif %}
        {% else %}

        <a href="{% url 'watch' listing.id %}">
            {% if listing|watched:request.user %}
            Remove from watchlist
            {% else %}
            Add to watchlist
            {% endif %}
        </a>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <form action="{% url 'bid' listing.id %}" method="POST">
            {% csrf_token %}
            {{ bid_form }}
            <input type="submit" value="Bid">
        </form>

        <form action="{% url 'comment' listing.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form}}
            <input type="submit" value="submit">
        </form>

        {% for comment in comments %}
        <p>{{ comment }}</p>
        {% endfor %}

        {% if request.user == listing.user %}
        <a href="{% url 'close_bid' listing.id %}">Close Bid</a>
        {% endif %}

        {% endif %}

    </div>

</div>
{% endblock %}