{% extends "auctions/layout.html" %}
{% load filters %}

{% block title %}{{listing.title}}{% endblock %}

{% block body %}
<div class="card">
    <h5 class="card-header">{{ listing.title }}</h5>
    {% if listing.url %}
    <img src="{{ listing.url }}" alt="listed picture" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h6 class="card-title">by {{ listing.user.username }}</h6>
        {% if listing|current_price %}
        <p class="card-subtitle"><b>Current price: </b>{{ listing|current_price }}</p>
        {% else %}
        <p class="card-subtitle"><b>Current price: </b>{{ listing.start_bid }}</p>
        {% endif %}
        <p class="card-text"><b>Description: </b>{{ listing.description }}</p>
    </div>
</div>
{% endblock %}