{% extends "auctions/layout.html" %}
{% load filters %}

{% block title %}{{listing.title}}{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home Page</a>
</li>
{% endblock nav %}

{% block body %}
<div class="card">
    <h5 class="card-header">{{ listing.title }}</h5>
    {% if listing.url %}
    <img src="{{ listing.url }}" alt="listed picture" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h6 class="card-title">by {{ listing.user.username }}</h6>
        <p class="card-subtitle"><b>Current price: </b>{{ listing|current_price }}</p>
        <p class="card-text"><b>Description: </b>{{ listing.description }}</p>

        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

        <a href="{% url 'watch' listing.id %}">
            {% if listing|watched:request.user %}
            Remove from watchlist
            {% else %}
            Add to watchlist
            {% endif %}
        </a>

        <form action="{% url 'bid' listing.id %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Bid">
        </form>

        {% if request.user == listing.user %}
        <a href="{% url 'close_bid' listing.id %}">Close Bid</a>
        {% endif %}

        {% if listing.status == 0 %}
        <div>This listing is closed</div>
        {% endif %}

    </div>

</div>
{% endblock %}